<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyAiport.Pim.Settings.DbConnect" connectionString="Data Source=.;Initial Catalog=MyAirport;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="Factory" value="Natif" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>